# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.vscode
*.jar
*.class
!/gradle/wrapper/gradle-wrapper.jar

.settings
.classpath
.project
.DS_Store